@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 4.5rem;
  background-color: #f8f9fa;
  color: #343a40;
}

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}
